.tituloDeGaleria {
  text-align: center;
}

.galeriaDeImagenes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 25px;
  justify-items: center;
}

.galeriaDeImagenes img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.galeriaDeImagenes img:hover {
  transform: scale(1.2);
}

/* Esta configuración se hace para nuestros celulares */
